#banner{
  position: relative;
  //background: url('../img/banner.jpg');
  min-height: 180px;

  .primary-overlay{
    background: rgba(80, 80, 119, 1.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#quote {

    font: 700 2em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url('../img/candy.png') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


h6 {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  padding: 1.5em 0em;
  position: absolute;
  top: 50%;
  left: 45%;
  width: 40em;
  }